@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/reset';
@import 'partials/base';
@import 'partials/navbar';
@import 'partials/footer';
@import 'partials/home';
@import 'partials/destinos';
@import 'partials/paquetes';
@import 'partials/resenas';
@import 'partials/contacto';


/* Media queries */
@media (max-width: $bp-md) {
  .hero h1 {
    font-size: 1.8rem;
  }
  .card-img-top {
    height: 160px;
    object-fit: cover;
  }
}
