.site-header {
  background: $white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  .navbar-brand {
    font-weight: 700;
    color: $primary;
  }
  .nav-link {
    color: $gray-dark;
    &:hover, &.active {
      color: $accent;
    }
  }
}
